<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Application Display Name -->
    <display-name>Myjob</display-name>

    <!-- Welcome File Configuration -->
    <welcome-file-list>
        <!-- Ensure this points to a valid file in the 'webapp' directory -->
        <welcome-file>/views/admin/adminpage.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>AgentUniversitaireServlet</servlet-name>
        <servlet-class>ma.ensi.controller.AgentUniversitaireServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AgentUniversitaireServlet</servlet-name>
        <url-pattern>/AgentUniversitaireServlet</url-pattern>
    </servlet-mapping>

    <!-- Security Constraint to Restrict Access to Admin Pages -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Pages</web-resource-name>
            <url-pattern>/views/admin/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <!-- Resources Configuration -->


</web-app>
