<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!-- Application Display Name -->
  <display-name>Myjob</display-name>

  <!-- Welcome File -->
  <welcome-file-list>
    <welcome-file>views/login/loginpage.jsp</welcome-file>
  </welcome-file-list>

  <!-- Servlet for UtilisateurController -->
  <servlet>
    <servlet-name>UtilisateurController</servlet-name>
    <servlet-class>ma.ensi.controller.UtilisateurController</servlet-class>
  </servlet>

  <!-- Servlet Mappings for UtilisateurController -->
  <servlet-mapping>
    <servlet-name>UtilisateurController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UtilisateurController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

</web-app>
